!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/markdown.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
  body
    .top-nav
      ul
        li
          a(href="http://docs.brightcove.com/en/app-cloud-api/", target="_blank") API Docs 
        li
          a(href="http://support.brightcove.com/en/docs", target="_blank") Support Docs
        li
          a(href="http://forum.brightcove.com/t5/App-Development/bd-p/app_development", target="_blank") Guides
        li
          a.last(href="mailto:bcappcloud@googlegroups.com") Mailing list
    
    -if( global.newVersionAvailable)
      .flash-error There is a new version of the appcloud module available.  Run the command "sudo npm upgrade -g appcloud" to get the latest.
    
    .logo-container
      img(src="/images/logo.png")
    .container!= body